/* Basic editor styles */
.tiptap {
    min-height: 10rem;
    padding: 10px;

    p {
        margin: 0;
        padding: 0;
    }

    :first-child {
        margin-top: 0;
    }

    /* List styles */
    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }


    hr {
        border: none;
        border-top: 1px solid var(--gray-2);
        margin: 2rem 0;
    }

    p.is-editor-empty:first-child::before {
        color: var(--gray-4);
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }

    /* Character count */
    .character-count {
        align-items: center;
        color: var(--gray-5);
        display: flex;
        font-size: 0.75rem;
        gap: .5rem;
        margin: 1.5rem;

        svg {
            color: var(--purple);
        }

        &--warning,
        &--warning svg {
            color: var(--red);
        }
    }
}
